/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/*kleuren*/
/*bol.com blauw: #0000A4*/
/*bol.com cta blauw: #0000FE*/
/*****/


/*GLOBAL ELEMENT STYLES*/

ul {
    list-style: none;
    padding-left: 0;
}
li {
    
}
h1 {
    color: #000000;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 1.25em; 
}
h2 {
    
}
h3 {
    font-family: 'Lora', serif;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 1.3em;
    margin: 0;
    
    
    
}
h4 {
    color: #FFFFFF;
    margin: 0;
    font-weight: 200;
}
h5 {
    font-size: 1.2em;
    font-weight: 400;
}
h6 {
    color: #000000;
    margin: 0;
    font-size: 1em;
    padding-top: .5em;
}
p {
    color: #000000;
    margin: 0;
}
p a {
    text-decoration: none;
    color: #00f;
}
.prijs {
    font-size: .8em;
    color: red;
}

.icon {
    height: 1em;
    width: auto;
    margin-left: 1.5em;
}
button {
    height: 1.9em;
    border-style: none;
    background-color: transparent;
}

section button {
    height: auto;
    top: 50%;
    position: absolute;
    padding: .8em;
    background-color: #FFFFFF;
    box-shadow: 7px 7px 15px -5px rgba(0,0,0,0.64);
    border: none;
    border-radius: 5px;
    z-index: 100;
    left: -1em;
}
section button img {
    width: 1.1em;
    height: auto;
    z-index: 150;
    transform: rotate(180deg);
}
section button:last-child {
    left: calc(100% - 1em);
}
section button:last-child img{
    transform: rotate(0deg);
}

/*BODY*/

body {
    font-family: 'Avenir', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    
}

/*HEADER*/
nav {

    /* width: 100%; */
}
#navContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    /* padding: 0 1em; */
}
#navContainer li:first-of-type {
    display: flex;
    align-items: center;
    flex-basis: 0;
    margin: .3em 0 .3em 1em;
}
#navContainer li:first-of-type img, button {
    height: 1.9em;
    width: auto;
}
#navContainer li:nth-of-type(2) {
    background-color: #0000A4;
    padding: 1em;
    width: 100%;
    order: 1;
    
}
#navContainer li:nth-of-type(2) form {
    width: 100%;
}
#navContainer li:nth-of-type(2) form input {
    height: 3em;
    width: 100%;
    padding-left: 1.1em;
    border-radius: 1.5em;
    border-style: none;
    font-size: .9em;
}
#navContainer li:last-child {
    display: flex;
    align-items: center;
    margin-right: 1em;
    margin-left: auto;
}
#navContainer li:last-child ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
#navContainer li:last-child ul li {
    background-color: transparent;
    padding: 0;
    order: unset;
    margin-left: 1em;
}
#navContainer li:last-child ul li a{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
#navContainer li:last-child ul li img{
    height: 1.6em;
}
#hero {
    width: 100%;
}
#hero img {
    width: 100%;
}

/*MAIN*/

main {
    padding: 0 1em;
    position: relative;
    
}

/*SECTIE1*/

main section {
    padding: .1em 0;
    color: #0000A4;
    position: relative;
}
main .promoSlider ul {
    overflow: scroll;
    display: flex;
    scroll-snap-type: x mandatory;
}
main .promoSlider ul::-webkit-scrollbar {
    width: 0;
    height: 0;
}
main .promoSlider ul li {
    position: relative;
    min-width: 14em;
    height: 14em;
    margin-right: 1em;
    background-color: #0100A4;
    overflow: auto;
    scroll-snap-align: center;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 25em auto
}

main .promoSlider ul li:nth-of-type(1) {
    background-image: url("../images/themes/bol10daagse/promosliderA.jpg");
    
}
main .promoSlider ul li:nth-of-type(2) {
    background-image: url("../images/themes/bol10daagse/promosliderB.jpg");
}
main .promoSlider ul li:nth-of-type(3) {
    background-image: url("../images/themes/bol10daagse/promosliderC.jpg");
}
main .promoSlider ul li:nth-of-type(4) {
    background-image: url("../images/themes/bol10daagse/promosliderD.jpg");
}
main .promoSlider ul li a:first-of-type {
    display: block;
    padding: 1em;
    position: relative;
    height: 100%;
    width: 100%;
}
    
main .promoSlider ul li a h3 {
/*
    position: absolute;
    left: 1em;
    top: .1em;
*/
    
}
main .promoSlider ul li a h4 {
    
}
.productButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3em .5em;
    border-radius: 2px;
    position: absolute;
    background-color: #0000FE;
    bottom: 1em;
    left: 1em;
    width: 1.7em;
    height: 1.7em;  
}
.productButton img {
    height: 45%;
}


/*SECTIE2*/


main .catSlider {
    color: black;
/*    scrollsnap*/
}

main .catSlider ul {
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}
main .catSlider ul li {
    margin-right: 1em;
    display: flex;
    flex-flow: column;
    align-items: center;
    scroll-snap-align: center;
}
main .catSlider ul li img {
    width: 10em;
    height: 10em;
    background-color: aqua;
}

/*SECTIE3*/

main .populair {
    
}
main .populair ul{
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}
main .populair ul li {
    margin-right: 1em;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    scroll-snap-align: center;
}
main .populair ul li img {
    width: 10em;
    height: 10em;
    background-color: aqua;
}
main .populair ul li h5 {
    color: #000000;
    margin: 0;
}
/*SECTIE5*/

main .cadeauSlider {
    color: black;
/*    scrollsnap*/
}

main .cadeauSlider ul {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}
main .cadeauSlider ul li {
    position: relative;
    background-image: url("../images/presentA.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    margin-right: 1em;
    min-width: 65%;
    height: 14em;
    display: flex;
    flex-flow: column;
    align-items: center;
    scroll-snap-align: center;
    margin-bottom: 2em;
}
main .cadeauSlider ul li:nth-of-type(2){
    background-image: url("../images/presentB.jpg")
}
main .cadeauSlider ul li:nth-of-type(3){
    background-image: url("../images/presentC.jpg")
}
main .cadeauSlider ul li:nth-of-type(4){
    background-image: url("../images/presentD.jpg")
}
main .cadeauSlider ul li h5 {
    overflow: visible;
    position: absolute;
    bottom: -3.3em;;
    
}

/*LAATSTE SECTIE*/
main .ookInteressant {
    
}
main .ookInteressant ul{
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}
main .ookInteressant li {
    margin-right: 1em;
    min-width: 75%;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    scroll-snap-align: center;
}
main .ookInteressant ul li img {
    width: 100%;
    height: auto;
    background-color: aqua;
}
main .ookInteressant ul li h5 {
    color: #000000;
    margin: 0;
}
/*Service*/

/*MENU*/

.sideMenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 300;
    background-color: #ffffff;
    transition: .3s;
    transform: translateX(-100%);
}
.sideMenuOpen {
    transform: translateX(0);
    
}
.sideMenu div {
    padding: 1em 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: solid;
    border-color: #1A1AB1;
    border-width: 2px;
    width: 100%;
    
}
.sideMenu div img {
    padding: 0 1em;
    height: 1.9em;
    width: auto;
}
.sideMenu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.sideMenu ul li {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 30%;
    
}
.sideMenu ul li img {
    border-radius: 50%;
    width: 5em;
    height: 5em;
    background-color: #CEE9FC;
    padding: 1em;
}

/*BANNER*/

main .promoBanner {
    padding: 1em;
    background-color: #0100A4;
    background-image: url("../images/promoBanner.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    width: 100%;
    height: 14em;
    
}
main .promobanner a {
    display: block;
    padding: 1em;
    position: relative;
    height: 100%;
    width: 100%;
}
/*FOOTER*/



/*SERVICE*/
.service {
    position: static;
    color: white;
    background-color: #0000A4;
    padding: 1em 1em;
    margin: 1em -1em 0em -1em;
}
.service ul {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
    
}
.service ul li {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.5em;
    
}
.service ul li h1 {
    color: #FFFFFF;
}
.service ul li img {
    height: 2.9em;
    padding: 0 2em;
}
.service ul li div {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    max-width: 30em;
}
.service ul li div h5 {
    font-size: .9em;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    
}
.service ul li div p {
    font-size: .9em;
    font-weight: 100;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}
.service ul li div p a {
    color: white;
    text-decoration: underline;
}



footer {
    display: flex;
    align-items: center;
    flex-flow: column;
}
footer ul {
    width: 100%;
    margin-top: 0;
}
footer ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.2em;
   
    padding: 0 1em;
    border-bottom-style: solid;
    border-color: rgba(0,0,0, .1);
    border-width: .0001px;  
}
footer ul li ul {
    width: 0px;
}
footer ul li a:first-of-type {
    text-decoration: none;
    display: block;
    color: #000000;
    
}

footer .footersitemap {
    visibility: hidden;
}

.social {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.social ul {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    justify-content: center;
}
.social ul li {
    border-bottom-style: none;
}
.social ul li a {
    text-decoration: none;
}
.social ul li a img {
    width: auto;
    height: 1.4em;
    
}


footer .footerlogo {
    width: 18em;
}

.winkelwaarborg {
    font-size: .8em;
    padding: 0 3em;
}
.winkelwaarborg ul {
    display: flex;
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap;
    
}
.winkelwaarborg ul li {
    display: flex;
    align-items: center;
    margin: 1 1em;
    padding: 0;
    
    border-bottom-style: none;
    
}
.winkelwaarborg ul li img{
    margin-right: .6em;
    height: 1.4em;
    width: auto;
}
.winkelwaarborg ul li a{
    text-decoration: none;
    padding: 0 .4em;
}

.winkelwaarborg ul li a:first-of-type {
    text-decoration: underline;
}
.winkelwaarborg {
    
}
/*tip: punten aanpassen per site sectie*/


@media (min-width: 600px) {
    button {
        visibility: hidden;
    }
    #hero {
        padding: 1em;
    }
    main {
        padding: 0 1em;
    }
    main .catSlider ul li img {
    width: 6em;
    height: 6em;
    }
    .service ul {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 1em;
    }
    .service ul li {
        display: flex;
        align-items: center;
        width: 45%;
        margin-bottom: 0;
    }
    .service ul li:first-of-type {
       
    }
    footer .footersitemap {
        visibility: visible;
    }
    footer ul:first-child {
        display: flex;
        justify-content: space-around;
        margin-top: 1em;
        max-width: 120%;
    }
    footer ul li {
        align-items: flex-start;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 30%;
        padding: 0;
        margin: 0;
        border-bottom-style: none;
        /* display: flex;
        justify-content: space-between;
        align-items: center;
        height: 2em;
        width: 100%;
        padding: 0 1em;
        border-bottom-style: solid;
        border-color: #333333;
        border-width: 1px;   */
    }
    footer ul li ul {
        display: flex;
        flex-direction: column;
        
    }
    footer ul li ul li {
        width: 100%;;
    }
    footer ul li ul li a {
        width: 100%;;
        text-decoration: none;
        color: #000000;
    }
    footer ul li a:first-of-type {
        text-decoration: none;
        display: block;
        color: #000000;
        width: 100%;
    }
    .icon {
        visibility: hidden;
    }
    main .promoSlider ul {
        overflow: scroll;
    }
    main .promoSlider ul li {
        position: relative;
        min-width: 16em;
        min-height: 16em;
        margin-right: 1em;
        background-color: #0100A4;
        overflow: auto;
        scroll-snap-align: center;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 28em auto
    }
    main .promoSlider ul li:last-of-type{
        margin-right: 0;
    }
}
@media (min-width: 900px) {
    
}
