/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/*kleuren*/
/*bol.com blauw: #0000A4*/
/*bol.com cta blauw: #0000FE*/
/*****/


/*GLOBAL ELEMENT STYLES*/

ul {
    list-style: none;
    padding-left: 0;
}

/*SLIDERBUTTONS*/

section button {
    top: 50%;
    position: absolute;
    padding: .65em;
    background-color: #FFFFFF;
    box-shadow: 7px 7px 15px -5px rgba(0,0,0,0.64);
    border: none;
    border-radius: 2px;
    z-index: 100;
    left: -1em;
}
section button img {
    width: 1em;
    height: auto;
    z-index: 150;
    transform: rotate(180deg);
}
section button:last-child {
    left: calc(100% - 1em);
}
section button:last-child img{
    transform: rotate(0deg);
}

/*BODY*/

body {
    font-family: 'Avenir', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    
}

/*HEADER*/

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1em;
}
header nav div {
    display: flex;
    align-items: center;
}
header div button {
    height: 1.9em;
    border-style: none;
    background-color: transparent;
}
header div button img {
    height: 100%;
    width: auto;
}

header div a img {
    height: 1.9em;
    width: auto;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    
}

.icon {
    height: 1.2em;
    width: auto;
    margin-left: 1.5em;
}
header form {
    background-color: #0000A4;
    padding: 1em;
}
header form input {
    width: 100%;
    height: 3em;
    padding-left: 1em;
    border-radius: 1.5em;
    border-style: none;
    font-size: 1.1em;
}
header img {
    width: 100vw;
}

/*MAIN*/

main {
    padding: 0 1em;
    
}

/*SECTIE1*/

main section {
    padding: .1em 0;
    color: #0000A4;
    position: relative;
}
main .promoSlider ul {
    overflow: scroll;
    display: flex;
}
main .promoSlider ul li {
    position: relative;
    min-width: 16em;
    min-height: 14em;
    margin-right: 1em;
    background-color: #D7EEFC;
    overflow: hidden;
}
main .promoSlider ul li h3 {
    font-size: 1.3em;
    width: 80%;
    line-height: 1.2em;
    position: absolute;
    top: .1em;
    left: 1em;
}
main .promoSlider ul li span{
    font-weight: 200;
    font-size: .9em;
    
}
main .promoSlider ul li img {
    width: 100%;
/*    ik krijg het niet voor elkaar om de afbeelding ingezoomd te krijgen en vind fotoshop een beetje goedkoop*/
}
.productButton {
    padding: .3em .5em;
    border-radius: 2px;
    position: absolute;
    background-color: #0000FE;
    bottom: 1em;
    left: 1em;
    
}
main .promoSlider ul li a img {
    margin-top: 0;
    width: .9em;
    height: auto;
}

/*SECTIE2*/

main .catSlider {
    color: black;
}

main .catSlider ul {
    display: flex;
    overflow: scroll;
}
main .catSlider ul li {
    margin-right: 1em;
    display: flex;
    flex-flow: column;
    align-items: center;
}
main .catSlider ul li img {
    width: 10em;
    height: 10em;
    background-color: aqua;
}

/**/